@model List<MovieGetViewModel>;
@{
    var baseAdress = (Uri)TempData["baseAdress"];
    int counter = 0;
}
<div class="container">
    <div class="row">
        <div style="display:flex;justify-content:space-between;align-items:center;align-content:center;margin-top:20px;border:1px solid grey;padding:10px">
            <h3 style="margin-bottom:0">Movies</h3>
            <a class="btn-success" style="padding:10px;align-items:center;border-radius:10px" asp-controller="movie" asp-action="create">Create</a>
        </div>
        <table class="table table-striped" style="margin-top:40px;border:1px solid grey">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Desc</th>
                    <th scope="col">GenreName</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    counter++;
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@movie.Id</td>
                        <td>@movie.Name</td>
                        <td>@movie.Desc</td>
                        <td>@movie.GenreName</td>
                        <td>
                                <img style="width:150px" src="@baseAdress/uploads/@movie.MovieImages.FirstOrDefault().ImageUrl" alt="Alternate Text" />
                        </td>
                        <td>
                            <div style="display:flex;">
                                <a style="margin-right:10px;color:white" class="btn btn-warning" asp-controller="movie" asp-action="update" asp-route-id="@movie.Id">Update</a>
                                <a style="color:white" class="btn btn-danger deleteButton" asp-controller="movie" asp-action="delete" asp-route-id="@movie.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
